
.contenu{

  article{

    display: grid;
    grid-template-rows: 100px auto 1fr;

    header{
      background-color: $gray-300;

      text-align: center;

      svg{
        height: 100%;
      }
    }
    img{
      align-self: end;
    }
  }


}


@media screen and (min-width: $breakpoint-lg){

  .contenu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    grid-gap: 20px;
  }

}