
.banniere-video{

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25vh;

  justify-items: center;
  align-items: center;

  overflow: hidden;

  video, img, h2{
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  video{
    z-index: 2;
    width: 100%;
    display: none;
  }

  h2{
    color: $color-title-light;
    z-index: 3;
  }

}


@media screen and (min-width: 500px){
  .banniere-video{
    grid-template-rows: 50vh;
    video{
      display: block;
    }
    img{
      display: none;
    }
  }
}